#reading-books {
    list-style: none;
    display: grid;
    grid-column-gap: $spacing-unit;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    padding: 0;

    img.book {
        margin-bottom: $spacing-unit;
        width: calc((#{$on-large} - (#{$spacing-unit}) * 5) * 0.25);
        height: calc((#{$on-large} - (#{$spacing-unit}) * 5) * 0.25 * 1.618);
    }

    @include media-query($on-medium) {
        grid-template-columns: repeat(3, 1fr);

        img.book {
            width: calc((#{$on-medium} - (#{$spacing-unit}) * 4) * 0.33);
            height: calc((#{$on-medium} - (#{$spacing-unit}) * 4) * 0.33 * 1.618);
        }
    }

    @include media-query($on-small) {
        grid-template-columns: repeat(2, 1fr);

        img.book {
            width: calc((#{$on-small} - (#{$spacing-unit}) * 3) * 0.5);
            height: calc((#{$on-small} - (#{$spacing-unit}) * 3) * 0.5 * 1.618);
        }
    }
}
