#reading-books {
    list-style: none;
    display: grid;
    grid-column-gap: $spacing-unit;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    padding: 0;

    img.book {
        margin-bottom: $spacing-unit;
        width: 120px;
        height: 180px;
    }

    @include media-query($on-medium) {
        grid-template-columns: repeat(3, 1fr);

        img.book {
            width: 110px;
            height: 170px;
        }
    }
}
